* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height:100vh;
  margin: 0;
  text-align:center;
  color: black;
  background-color: white ;
}

a:link, a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

dl { overflow: hidden; }

dt {
  float:left;
  width: 3em;
  height: 2em;
  margin-left: 2em;
  clear:both;
}

dd { float:left; }

img { padding-top: 1vh; }

@media screen and (orientation: portrait) {
  img { max-width: 95vw; }
}

@media screen and (orientation: landscape) {
  img { max-height: 85vh; }
}

#prev, #next {
  cursor: pointer;
  position: absolute;
  color: lightgrey;
  font-weight: bold;
  font-size: 8em;
  transition: 0.5s ease;
  display: inline-block;
  bottom: 6vh;
}

#prev { left: 1vw; }
#next { right: 1vw; }
#prev:hover, #next:hover { text-decoration: none; }
#prev:active, #next:active { color: black; }

#controller {
  position: fixed;
  left: 0;
  bottom: 8vh;
  width: 100vw;
  text-align: center;
}

.controller-item {
  display: inline-block;
  cursor: pointer;
    width: 4em;
}
